/* Globale Stile */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4; /* Helles Hintergrundfarbe */
}

/* Überschriften */
h1, h2 {
    color: #333; /* Dunkelgrau für die Überschriften */
}

/* Formularstile */
label {
    display: block; /* Labels blockweise anzeigen */
    margin-top: 5px; /* Abstand oben */
    margin-bottom: 5px; /* Abstand unten */
    font-weight: bold; /* Fette Schrift für die Labels */
}

input[type="text"],
input[type="number"] {
    width: 100%; /* Volle Breite */
    padding: 10px; /* Innenabstand */
    margin-bottom: 5px; /* Abstand unten */
    border: 1px solid #ccc; /* Graue Umrandung */
    border-radius: 5px; /* Abgerundete Ecken */
    box-sizing: border-box; /* Box-Sizing für das Padding */
    font-size: 16px; /* Schriftgröße */
}

/* Button-Stile */
.submit {
    background-color: #5cb85c; /* Grüner Hintergrund */
    color: white; /* Weißer Text */
    border: none; /* Keine Umrandung */
    padding: 15px 20px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block für das Layout */
    font-size: 16px; /* Schriftgröße */
    margin: 5px 0; /* Abstand oben und unten */
    cursor: pointer; /* Zeigerzeiger */
    border-radius: 5px; /* Abgerundete Ecken */
    transition: background-color 0.3s ease; /* Übergang für die Hintergrundfarbe */
}

.submit:hover {
    background-color: #4cae4c; /* Dunklerer Grünton beim Hover */
}

/* Modal-Hintergrund */
.modal {
    display: none; /* Standardmäßig verborgen */
    position: fixed; /* Positionieren */
    z-index: 1; /* Über anderen Inhalten */
    left: 0;
    top: 0;
    width: 100%; /* Volle Breite */
    height: 100%; /* Volle Höhe */
    overflow: auto; /* Scrollen aktivieren, falls notwendig */
    background-color: rgba(0, 0, 0, 0.5); /* Dunkler Hintergrund mit Transparenz */
}

/* Modal-Inhalt */
.modal-content {
    background-color: #fff; /* Weißer Hintergrund */
    margin: 15% auto; /* 15% vom oberen Rand und zentriert */
    padding: 20px;
    border: 1px solid #888; /* Graue Umrandung */
    width: 80%; /* Breite des Modals */
    border-radius: 5px; /* Abgerundete Ecken */
}

/* Schließen-Knopf */
.close {
    color: #aaa; /* Graue Farbe */
    float: right; /* Nach rechts schieben */
    font-size: 28px; /* Schriftgröße */
    font-weight: bold; /* Fette Schrift */
}

.close:hover,
.close:focus {
    color: black; /* Schwarz beim Hover */
    text-decoration: none; /* Keine Unterstreichung */
    cursor: pointer; /* Zeigerzeiger */
}

/* Textausgabe */
.outputText {
    margin-top: 20px; /* Abstand oben */
    font-size: 18px; /* Schriftgröße */
    color: #555; /* Dunkelgraue Schriftfarbe */
}
